/* Customizing the scrollbar track (the part the thumb slides along) */
::-webkit-scrollbar-track {
    background: #2d2d2d;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #4e4e4e;
    border-radius: 10px;
    border: 2px solid #1a1a1a;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-thumb:hover {
    background: #6c6c6c;
}