<form class="flex flex-col !text-white !italic overflow-auto bg-gray-900 p-6 rounded-lg shadow-lg"
    [formGroup]="profileForm" (ngSubmit)="profileForm.valid">


    <!-- hero section -->
    <div class="flex flex-col gap-4 mb-4">
        <label class="text-xl font-semibold text-gray-200" for="about_me_pic">resume_pic:</label>
        <input formControlName="about_me_pic" type="file" (change)="FileSelected($event)"
            class="input px-4 py-2 rounded-md placeholder:text-gray-400 bg-gray-800 border border-gray-600"
            id="about_me_pic" placeholder="About_me_pic*" />
    </div>

    <!-- Submit and Cancel Buttons -->
    <div class="flex gap-4 self-end mt-6">
        <button (click)="updateProject()" type="submit"
            class="bg-blue-500 text-white px-6 py-3 rounded-md shadow-md hover:bg-blue-600 transition">Update-Resume
        </button>
        <button type="button"
            class="border border-blue-500 text-blue-500 px-6 py-3 rounded-md shadow-md hover:bg-blue-100 transition"
            matDialogClose="true">
            Cancel
        </button>
    </div>
</form>